<!DOCTYPE html>
<html>
	<head>
		<title>{{ page_data.metadata.site_title }}</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container">
			{% include 'nav.html' %}
			
			<div class="col-md-8">
				<h2>Classes</h2>

				{% for uri, obj in page_data.ontology.classes.iteritems()|sort %}
					{% include 'class.html' %}
				{% endfor %}
				
				<h2>Properties</h2>
				
				<h3>Object Properties</h3>

				{% for uri, obj in page_data.ontology.objectProperties.iteritems()|sort %}
					{% include 'otp.html' %}
				{% endfor %}

				<h3>Datatype Properties</h3>

				{% for uri, obj in page_data.ontology.datatypeProperties.iteritems()|sort %}
					{% include 'dtp.html' %}
				{% endfor %}

				<h2>Instances</h2>

				{% for uri, obj in page_data.ontology.instances.iteritems()|sort %}
					{% include 'instance.html' %}
				{% endfor %}
			</div>
		</div>
	</body>
</html>